@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,h2,h3 {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}